<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    
    {{ if isset .Site.Params "leftsideimg" }}
    <div class="flex-container">

      <div class="flex-item-left">
        <div class="sidebar-image-container">
          <img class="sidebar-image-sticky" src="{{ .Site.Params.leftsideimg | absURL }}">
        </div>
      </div>

      <div class="flex-item-center">

            {{ end }}

            {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

            {{ block "main" . }}{{ end }}

            {{ if isset .Site.Params "leftsideimg" }}

      </div>

      <div class="flex-item-right" style="background-color: #F5F5F5">
            <a href="https://www.uni-bremen.de/">
              <img src='{{"img/UHB_Logo_Web_RGB.png" | absURL }}'>
            </a>
            <!-- <a href="https://ai.uni-bremen.de/">
              <img src='{{"img/Logo - IAI Schrift.png" | absURL }}'> -->
            <a>
              <img src='{{"img/aicor_logo_rgb.jpg" | absURL }}'>
            </a>
            <a href="https://www.eurobin-project.eu/">
              <img src='{{"img/euROBIN-Logo.png" | absURL }}'>
            </a>
            <a id="myImageURL" href="">
              <img id="myImage" src='{{"img/BMBF_Logo 2.png" | absURL }}'>
            </a>
      </div>
    </div>

    {{ end }}

    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}

    <script>
      const images = ['{{"img/BMBF_Logo 2.png" | absURL }}', '{{"img/fame_logo_rgb.jpg" | absURL }}', '{{"img/Hansestadt_Bremen.jpg" | absURL }}', '{{"img/EASE logo_2019_with_space.png" | absURL }}'];
      const urls = ["https://www.bmbf.de/bmbf/de/home/home_node.html","https://ai.uni-bremen.de/research", "", "https://ease-crc.org/"]
      let currentImageIndex = 0;

      setInterval(changeImage, 2000); // change image every second

      function changeImage() {
        currentImageIndex = (currentImageIndex + 1) % images.length;
        document.getElementById("myImage").src = images[currentImageIndex];
        document.getElementById("myImageURL").href = urls[currentImageIndex];
      }

    </script>
  </body>
</html>
