<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    
    {{ if isset .Site.Params "leftsideimg" }}
    <div class="flex-container">

      <div class="flex-item-left">
        <div class="sidebar-image-container">
          <img class="sidebar-image-sticky" src="{{ .Site.Params.leftsideimg | absURL }}" width="100%" height="800px">
        </div>
      </div>

      <div class="flex-item-center">

        <!-- <div class="flex-container"> -->

          <!-- <div class="flex-item-right"> -->
            {{ end }}

            {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
            <!-- <div class="intro-header big-img" style="background-image: url('img/ViB_banner_Uni_Rot.png')"> -->
<!--            <img src="img/ViB_banner_Uni_Rot.png" width="80%" style="margin-top: 50px; padding: 15px;">-->

            {{ block "main" . }}{{ end }}

            {{ if isset .Site.Params "leftsideimg" }}
          <!-- </div> -->
      </div>

      <div class="flex-item-right" style="background-color: rgb(135, 161, 172, 0.09);">
        <!-- <div style="position: relative; left: 85%; top: 20%; overflow: hidden; margin-right: 2%;"></div> -->
        <div style="position: relative;">
          <div style="position: fixed; top: 45px; overflow-y: scroll;">
            <a href="https://www.uni-bremen.de/">
              <img src='{{"img/UHB_Logo_Web_RGB.png" | absURL }}' style="margin-top: 50%; padding:10%;">
            </a>
            <a href="https://ai.uni-bremen.de/">
              <img src='{{"img/Logo - IAI Schrift.png" | absURL }}' style="margin-top: 40%; padding:10%;">
            </a>
            <a href="https://www.eurobin-project.eu/">
              <img src='{{"img/euROBIN-Logo.png" | absURL }}' style="margin-top: 40%; padding:10%;">
            </a>
            <a id="myImageURL" href="">
              <img id="myImage" src='{{"img/BMBF_Logo 2.png" | absURL }}' style="margin-top: 40%; padding:10%;">
            </a>
          </div>
      </div>

      </div>

        <!-- </div> -->
    </div>

    <!-- <div class="centered-container" style="position: fixed;width: 30%;">
      <img id="centered-image" src='{{"img/Logo - IAI Schrift.png" | absURL }}'>
      <img id="centered-image" src='{{"img/UHB_Logo_Web_RGB.png" | absURL }}'>
    </div> -->

    {{ end }}

    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}

    <script>
      const images = ['{{"img/BMBF_Logo 2.png" | absURL }}', '{{"img/fame_logo_rgb.jpg" | absURL }}', '{{"img/Hansestadt_Bremen.jpg" | absURL }}', '{{"img/EASE logo_2019_with_space.png" | absURL }}'];
      const urls = ["https://www.bmbf.de/bmbf/de/home/home_node.html","https://ai.uni-bremen.de/research", "", "https://ease-crc.org/"]
      let currentImageIndex = 0;

      setInterval(changeImage, 2000); // change image every second

      function changeImage() {
        currentImageIndex = (currentImageIndex + 1) % images.length;
        document.getElementById("myImage").src = images[currentImageIndex];
        document.getElementById("myImageURL").href = urls[currentImageIndex];
      }

    </script>
  </body>
</html>
