{{ $data := $.Page.Resources.GetMatch (.Get "data") }}
{{ $idSuffix := now.UnixNano }}

<div class="vue-app" id="vueapp{{ $idSuffix }}">
  <!-- selectboxs -->
  <div class="row">

    <div class="p-float-label col-md-6" v-for="item in envs">
      <p-dropdown v-model="item.selected" :options="item.options" :optionLabel="item.name" :placeholder="item.name"
        :inputId="item.name" class="col-md-12 mb-3"> 
        <template #value="slotProps">
          <div v-if="slotProps.value" :title="slotProps.value.value" class="flex h-100 align-items-center"
            :class="{ noImg: item.noImg }">
            <img v-if="slotProps.value.img" class="selected-img" :alt="slotProps.value.name"
              :src="slotProps.value.img" />
            <div class="image-missing" v-else></div>
            <div class="text-capitalize option-name" v-text="slotProps.value.name"></div>
            <a class="text-xs" target="_blank" title="Knowledge Bases in OpenEASE"
              v-if="slotProps.value.knowledge_bases" :href="slotProps.value.knowledge_bases"
              onclick="event.stopPropagation()">Knowledge Bases</a>
          </div>
          <span v-else>
            <span v-text="slotProps.placeholder"></span>
          </span>
        </template>
        <template #option="slotProps">
          <div class="flex align-items-center" :title="slotProps.option.value" :class="{ noImg: item.noImg }">
            <img v-if="slotProps.option.img" class="option-img" :alt="slotProps.option.name"
              :src="slotProps.option.img" />
            <div class="image-missing" v-else></div>
            <div class="text-capitalize option-name" v-text="slotProps.option.name"></div>
            <a class="text-xs" target="_blank" title="Knowledge Bases in OpenEASE"
              v-if="slotProps.option.knowledge_bases" :href="slotProps.option.knowledge_bases"
              onclick="event.stopPropagation()">Knowledge Bases</a>
          </div>
        </template>
      </p-dropdown>
      <label :for="item.name" v-text="item.name"></label>
    </div>

    <div class="p-float-label col-md-6" v-for="item in robos">
      <p-dropdown v-model="item.selected" :options="item.options" :optionLabel="item.name" :placeholder="item.name"
        :inputId="item.name" class="col-md-12 mb-3"> 
        <template #value="slotProps">
          <div v-if="slotProps.value" :title="slotProps.value.value" class="flex h-100 align-items-center"
            :class="{ noImg: item.noImg }">
            <img v-if="slotProps.value.img" class="selected-img" :alt="slotProps.value.name"
              :src="slotProps.value.img" />
            <div class="image-missing" v-else></div>
            <div class="text-capitalize option-name" v-text="slotProps.value.name"></div>
            <a class="text-xs" target="_blank" title="Knowledge Bases in OpenEASE"
              v-if="slotProps.value.knowledge_bases" :href="slotProps.value.knowledge_bases"
              onclick="event.stopPropagation()">Knowledge Bases</a>
          </div>
          <span v-else>
            <span v-text="slotProps.placeholder"></span>
          </span>
        </template>
        <template #option="slotProps">
          <div class="flex align-items-center" :title="slotProps.option.value" :class="{ noImg: item.noImg }">
            <img v-if="slotProps.option.img" class="option-img" :alt="slotProps.option.name"
              :src="slotProps.option.img" />
            <div class="image-missing" v-else></div>
            <div class="text-capitalize option-name" v-text="slotProps.option.name"></div>
            <a class="text-xs" target="_blank" title="Knowledge Bases in OpenEASE"
              v-if="slotProps.option.knowledge_bases" :href="slotProps.option.knowledge_bases"
              onclick="event.stopPropagation()">Knowledge Bases</a>
          </div>
        </template>
      </p-dropdown>
      <label :for="item.name" v-text="item.name"></label>
    </div>

    <div v-if="taskes">
    <div class="p-float-label col-md-6" v-for="item in taskes">
      <p-dropdown v-model="item.selected" :options="item.options" :optionLabel="item.name" :placeholder="item.name"
        :inputId="item.name" class="col-md-12 mb-3"> 
        <template #value="slotProps">
          <div v-if="slotProps.value" :title="slotProps.value.value" class="flex h-100 align-items-center"
            :class="{ noImg: item.noImg }">
            <img v-if="slotProps.value.img" class="selected-img" :alt="slotProps.value.name"
              :src="slotProps.value.img" />
            <div class="image-missing" v-else></div>
            <div class="text-capitalize option-name" v-text="slotProps.value.name"></div>
            <a class="text-xs" target="_blank" title="Knowledge Bases in OpenEASE"
              v-if="slotProps.value.knowledge_bases" :href="slotProps.value.knowledge_bases"
              onclick="event.stopPropagation()">Knowledge Bases</a>
          </div>
          <span v-else>
            <span v-text="slotProps.placeholder"></span>
          </span>
        </template>
        <template #option="slotProps">
          <div class="flex align-items-center" :title="slotProps.option.value" :class="{ noImg: item.noImg }">
            <img v-if="slotProps.option.img" class="option-img" :alt="slotProps.option.name"
              :src="slotProps.option.img" />
            <div class="image-missing" v-else></div>
            <div class="text-capitalize option-name" v-text="slotProps.option.name"></div>
            <a class="text-xs" target="_blank" title="Knowledge Bases in OpenEASE"
              v-if="slotProps.option.knowledge_bases" :href="slotProps.option.knowledge_bases"
              onclick="event.stopPropagation()">Knowledge Bases</a>
          </div>
        </template>
      </p-dropdown>
      <label :for="item.name" v-text="item.name"></label>
    </div>
    </div>

  </div>
  <!-- error message -->
  <div v-show="errorMsgs.length !== 0">
    <pre class="alert alert-warning" v-text="errorMsgs"></pre>
  </div>

  <!-- Buttons -->
  <div class="action-buttons">
    <div class="action-button-wrapper" v-for="action in actions" :class="{ 'disabled-action-button-wrapper': !getActionUrl(action) }">
      <a class="btn mr-2 mb-2" target="_blank" v-text="action.name" :title="action.description"
        :href="getActionUrl(action)"
        :class="{ 'btn-primary': action.primary,'btn-success': !action.primary, 'disabled': !getActionUrl(action) }"></a>
    </div>
  </div>
</div>
<button type="button" onclick="query_and_show()" style="background-color: yellow;">Query</button>

<script type="module">

  function isAbsoluteUrl(url) {
    return /^([a-z][a-z\d+\-.]*:)?\/\//i.test(url) || /^data:/i.test(url);
  }
  const { createApp, ref } = Vue;
  const data = JSON.parse({{ $data.Content }})
  const App = {
    data() {
      return {
        actions: data.actions,
        selectOptions: Object.keys(data.options).map(v => {
          return {
            name: v,
            noImg: data.options[v].map(v => !!v.img).filter(v => v).length === 0,
            selected: data.options[v][0],
            options: data.options[v]
          }
        }),
        updatedOptions: Object.keys(data.options).map(v => {
          return {
            name: v,
            noImg: data.options[v].map(v => !!v.img).filter(v => v).length === 0,
            selected: data.options[v][0],
            options: data.options[v]

          }
        })
      };
    },
    computed: {
      selectedNotebookId() {
        const newValue = this.selectOptions
          ? this.selectOptions.map(v => v.name + '=' + v.selected.value).join('|')
          : ''
        return newValue
      },
      selectedNotebookIdUpdated() {
        const newValue = this.selectOptions
          ? this.updatedOptions.map(v => v.name + '=' + v.selected.value).join('|')
          : ''
        return newValue
      },
      errorMsgs() {
        let _arr = this.actions
          .filter(act => !this.getActionUrl(act))
          .map(act => `"${act.name}"`)
        let selectionStr = this.selectedNotebookId
          ? ` for options: \n\n${this.selectedNotebookId.replace(/\|/g, '\n')}`
          : '!'
        return _arr.length === 0 ? '' : `${_arr.join(',')} is currently unavailable${selectionStr}`
      },
      envs() {
        this.filterOptions()
        return this.updatedOptions.length > 0 ? [this.updatedOptions[0]] : [];
        // return this.selectOptions.length > 0 ? [this.selectOptions[0]] : [];
      },
      robos() {
        const selectedEnvironment = this.updatedOptions[0].selected.value;
        this.filterOptions(selectedEnvironment)
        return this.updatedOptions.length > 1 ? [this.updatedOptions[1]] : [];
        // return this.selectOptions.length > 0 ? [this.selectOptions[1]] : [];
      },
      taskes() {
        if (this.selectOptions.length > 2){
          const selectedEnvironment = this.updatedOptions[0].selected.value;
          const selectedRobot = this.updatedOptions[1].selected.value;
          this.filterOptions(selectedEnvironment,selectedRobot)
          return this.updatedOptions.length > 2 ? [this.updatedOptions[2]] : [];
        }
        return this.selectOptions.length > 2 ? [this.selectOptions[2]] : null;
      }
    },
    methods: {
      getActionUrl(action) {
        if (!action.url) return ''
        let _url = action.url
        if (action.options && action.available) {
          let _notebookUrl = action.available[this.selectedNotebookIdUpdated]
          if (!_notebookUrl) return ''
          if (isAbsoluteUrl(_notebookUrl)) return _notebookUrl
          _url += _notebookUrl
        }
        return _url
      },
      filterOptions(selectedEnv = '',selectedRobo = ''){
        const availableConfigs = this.actions.reduce((acc, action) => ({...acc, ...action.available}), {});

        if (availableConfigs !== null){
          const OptionSet = new Set();
          let OptionList = []
          let regex = '';
          let optionIndex = 1;

          if (selectedEnv === '') {
              regex = new RegExp(`environments=([^|]+)`);
              optionIndex = 0
          }
          else if (selectedRobo === ''){
              regex = new RegExp(`environments=${selectedEnv}\\|robots=([^|]+)`);
              optionIndex = 1
          }
          else {
              regex = new RegExp(`environments=${selectedEnv}\\|robots=${selectedRobo}\\|tasks=([^|]+)`);
              optionIndex = 2
          }
          
          for (const key in availableConfigs) {
              const match = regex.exec(key);
              if (match) {
              for (const ind in this.selectOptions[optionIndex].options){
                  const dicts = this.selectOptions[optionIndex].options[ind]
                  const name = dicts['name']
                  if ((dicts['value'] === match[1]) && (!OptionSet.has(name)))
                  {
                  OptionSet.add(name);
                  OptionList.push(dicts);
                  }
              }
              }
          }

          //Sorting available options alphabetically
          OptionList.sort(function(a,b){
            var nameA = a.name.toUpperCase();
            var nameB = b.name.toUpperCase();
            if (nameA < nameB){
              return -1;
            }
            if (nameA > nameB){
              return 1;
            }
            return 0;
          })

          this.updatedOptions[optionIndex].options = []
          this.updatedOptions[optionIndex].options = Array.from(OptionList)
          this.updatedOptions[optionIndex].selected = this.updatedOptions[optionIndex].options[0]

        }
        // return OptionList;
      }
    },
    components: {
      "p-button": primevue.button,
      "p-overlaypanel": primevue.overlaypanel,
      "p-dropdown": primevue.dropdown
    }
  };

  const app = createApp(App);
  app.use(primevue.config.default);
  app.mount('#vueapp{{ $idSuffix }}');

        	async function check_food_part(food, part) {
                const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
				const foodonPrefix = "http://purl.obolibrary.org/obo/";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX rdf: <${rdfPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					PREFIX foodon: <${foodonPrefix}>
					ASK {
					  foodon:${food} rdfs:subClassOf* ?dis.
					  ?dis owl:onProperty cut:hasPart.
					  ?dis owl:someValuesFrom ?tar.
					  ?tar owl:intersectionOf ?tar_int.
					  ?tar_int rdf:first cut:${part}.
					  ?tar_int rdf:rest ?rest.
					  ?rest rdf:first ?first.
					  ?first owl:onProperty cut:hasEdibility.
					  {
						?first owl:someValuesFrom cut:MustBeAvoided.
					  }
					  UNION
					  {
						?first owl:someValuesFrom cut:ShouldBeAvoided.
					  }
					}
				`;

            	// Uni Bremen SPARQL endpoint URL
                const endpointUrl = 'https://knowledgedb.informatik.uni-bremen.de/MealPreparation/query'

                const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: sparqlQuery,
                }

                try {
					console.log(sparqlQuery)
                    const response = await fetch(endpointUrl, requestOptions)
                    const data = await response.json()
                    return data.boolean
                } catch (error) {
					console.log(sparqlQuery)
                    console.error('Error:', error)
                    return false
                }
            }

            async function get_prior_task(verb) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					SELECT ?res WHERE {
						${verb} rdfs:subClassOf* ?sub.
						?sub owl:onProperty cut:requiresPriorTask .
						?sub owl:someValuesFrom ?priortask.
						BIND(REPLACE(STR(?priortask), "^.*[#/]", "") AS ?res).
					}
				`;
				console.log(sparqlQuery)
            	return query_text(sparqlQuery, '')
            }

            async function query_text(query, alternative) {
            	// Triply SPARQL endpoint URL
                const endpointUrl = 'https://knowledgedb.informatik.uni-bremen.de/MealPreparation/query'

                const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: query,
                }

                try {
                    const response = await fetch(endpointUrl, requestOptions)
                    const data = await response.json()
					console.log(data.results.bindings[0].res.value)
                    const firstObject = data.results.bindings[0].res.value;
                    return firstObject
                } catch (error) {
                    console.error('Error:', error)
                    return alternative
                }
            }

            async function get_peel_tool(food) {
                const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
				const foodonPrefix = "http://purl.obolibrary.org/obo/";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdf: <${rdfPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					PREFIX foodon: <${foodonPrefix}>
					SELECT ?res WHERE {
						foodon:${food} rdfs:subClassOf* ?peel_dis.
						?peel_dis owl:onProperty soma:hasDisposition.
						?peel_dis owl:someValuesFrom ?peel_dis_vals.
						?peel_dis_vals owl:intersectionOf ?afford_vals.
						?afford_vals rdf:first cut:Peelability.
						?afford_vals rdf:rest ?task_trigger.
						?task_trigger rdf:rest ?trigger.
						?trigger rdf:first ?trigger_wo_nil.
						?trigger_wo_nil owl:onProperty soma:affordsTrigger.
						?trigger_wo_nil owl:allValuesFrom ?trigger_tool.
						?trigger_tool owl:allValuesFrom ?tool.
						BIND(REPLACE(STR(?tool), "^.*[#/]", "") AS ?res).
					}
				`;

            	return query_text(sparqlQuery, 'Peeler')
            }

            async function get_cut_tool(food) {
					const owlPrefix = "http://www.w3.org/2002/07/owl#";
					const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
					const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
					const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
					const foodonPrefix = "http://purl.obolibrary.org/obo/";
					const sitAwarePrefix = "http://www.ease-crc.org/ont/situation_awareness#";

					const sparqlQuery = `
						PREFIX owl: <${owlPrefix}>
						PREFIX soma: <${somaPrefix}>
						PREFIX rdf: <${rdfPrefix}>
						PREFIX rdfs: <${rdfsPrefix}>
						PREFIX foodon: <${foodonPrefix}>
						PREFIX sit_aware: <${sitAwarePrefix}>
						SELECT ?res WHERE {
							foodon:${food} rdfs:subClassOf* ?peel_dis.
							?peel_dis owl:onProperty soma:hasDisposition.
							?peel_dis owl:someValuesFrom ?peel_dis_vals.
							?peel_dis_vals owl:intersectionOf ?afford_vals.
							?afford_vals rdf:first sit_aware:Cuttability.
							?afford_vals rdf:rest ?task_trigger.
							?task_trigger rdf:rest ?trigger.
							?trigger rdf:first ?trigger_wo_nil.
							?trigger_wo_nil owl:onProperty soma:affordsTrigger.
							?trigger_wo_nil owl:allValuesFrom ?trigger_tool.
							?trigger_tool owl:allValuesFrom ?tool.
							BIND(REPLACE(STR(?tool), "^.*[#/]", "") AS ?res).
						}
					`;


            	return query_text(sparqlQuery, 'Knife')
            }

            async function get_target(verb) {
                const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX rdf: <${rdfPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					SELECT ?res WHERE {
					  {
						${verb} rdfs:subClassOf* ?inter_node.
						?inter_node owl:intersectionOf ?in_res_node.
						?in_res_node rdf:first ?input_node.
						?input_node owl:onProperty cut:hasInputObject.
						?input_node owl:someValuesFrom ?target.
						FILTER NOT EXISTS {
							?target owl:unionOf ?union_node.
						}
						BIND(REPLACE(STR(?target), "^.*[#/]", "") AS ?res).
					  }
					  UNION
					  {
						${verb} rdfs:subClassOf* ?inter_node.
						?inter_node owl:intersectionOf ?in_res_node.
						?in_res_node rdf:first ?input_node.
						?input_node owl:onProperty cut:hasInputObject.
						?input_node owl:someValuesFrom ?targets_node.
						?targets_node owl:unionOf ?union_node.
						?union_node rdf:first ?target.
						BIND(REPLACE(STR(?target), "^.*[#/]", "") AS ?res).
					  }
					}
				`;

            	return query_text(sparqlQuery, 'Food')
            }

            async function get_repetitions(verb) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>

					SELECT ?res WHERE {
					  {
						${verb} rdfs:subClassOf* ?rep_node.
						?rep_node owl:onProperty cut:repetitions.
						FILTER EXISTS {
							?rep_node owl:hasValue ?val.
						}
						BIND("exactly 1" AS ?res)
					  }
					  UNION
					  {
						${verb} rdfs:subClassOf* ?rep_node.
						?rep_node owl:onProperty cut:repetitions.
						FILTER EXISTS {
							?rep_node owl:minQualifiedCardinality ?val.
						}
						BIND("at least 1" AS ?res)
					  }
					}
				`;

            	return query_text(sparqlQuery, '1')
            }

            async function get_cutting_position(verb) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>

					SELECT * WHERE {
						${verb} rdfs:subClassOf* ?pos_node.
						?pos_node owl:onProperty cut:affordsPosition.
						?pos_node owl:someValuesFrom ?pos.
						BIND(REPLACE(STR(?pos), "^.*[#/]", "") AS ?res).
					}
				`;

            	return query_text(sparqlQuery, 'middle')
            }

            function add_to_table(number, motion, inference) {
            	var motion_table = document.getElementById("motions");
            	var row = motion_table.insertRow(-1);
                var numb = row.insertCell(0);
                var mot = row.insertCell(1);
                var inf = row.insertCell(2);
              	numb.innerHTML = number + ".";
                mot.innerHTML = motion;
                inf.innerHTML = inference;
            }

            function clear_table() {
            	var motion_table = document.getElementById("motions");
            	var rowCount = motion_table.rows.length;
                for (var i = rowCount - 1; i >= 1; i--) {
                    motion_table.deleteRow(i);
                }
            }

			async function query_and_show() {
				var container = document.getElementById("results");
				var header = document.getElementById("header");

				var verbs = document.getElementById("verb-select");
				var foods = document.getElementById("food-select");
                var selected_verb = verbs.options[verbs.selectedIndex].textContent
                var selected_food = foods.options[foods.selectedIndex].textContent

				// changing the container visibility
				container.style.display = "block";

				// changing the header
				header.textContent = "Motions for " + selected_verb + " a / an " + selected_food + ":"

                // query the ontology
                var remove_peel = await check_food_part(foods.value, 'Peel')
                var remove_shell = await check_food_part(foods.value, 'Shell')
                var remove_stem = await check_food_part(foods.value, 'Stem')
                var remove_core = await check_food_part(foods.value, 'Core')
                var prior_task = await get_prior_task(verbs.value)
                var peel_tool = await get_peel_tool(foods.value)
				console.log(peel_tool)
                var cut_tool = await get_cut_tool(foods.value)
                var reps = await get_repetitions(verbs.value)
                var pos = await get_cutting_position(verbs.value)
                var shape = await get_target(verbs.value)

                // create motion list from ontology query
                clear_table()
                curr_step = 1
                target = ''

                // optional preconditions
                if (remove_peel || remove_shell) {
                	add_to_table(curr_step++, "Peeling using a peeling tool", "has peel = true<br>peeling tool = " + peel_tool)
                }
                if (remove_stem) {
                	add_to_table(curr_step++, "Removing the stem", "has stem = true")
                }
                if (remove_core) {
                	add_to_table(curr_step++, "Removing the core", "has core = true")
                }
                if (prior_task != '') {
                	add_to_table(curr_step++, "Execute a prior task: " + prior_task, "has prior task = true<br>prior task = " + prior_task)
                }

                // picking up the tool
                add_to_table(curr_step, "Picking up the cutting tool by ...", "cutting tool = " + cut_tool)
                add_to_table(curr_step + "a", " ... approaching the cutting tool", "cutting tool = " + cut_tool)
                add_to_table(curr_step + "b", "... grasping the cutting tool", "cutting tool = " + cut_tool)
                add_to_table(curr_step++ + "c", "... lifting the cutting tool", "cutting tool = " + cut_tool)

                // deciding on the target
                if(shape == 'Food') {
                	target = selected_food
                } else {
                	target = selected_food + " " + shape
                }

                // cutting the food object the necessary amount of times
                add_to_table(curr_step, "Cutting the target object at the position n time(s) by ...", "target object = " + target + "<br>position = " + pos + "<br>n = " + reps)
              	add_to_table(curr_step + "a", "... approaching the target object at the position", "target object = " + target + "<br>position = " + pos)
              	add_to_table(curr_step + "b", "... lowering the cutting tool through the target object", "cutting tool = " + cut_tool + "<br>target object = " + target)
              	add_to_table(curr_step++ + "c", "... lifting the cutting tool", "cutting tool = " + cut_tool)

				// putting down the tool
                add_to_table(curr_step, "Placing the cutting tool down by ...", "cutting tool = " + cut_tool)
                add_to_table(curr_step + "a", "... approaching the target location", "")
                add_to_table(curr_step + "b", "... releasing the cutting tool", "cutting tool = " + cut_tool)
                add_to_table(curr_step + "c", "... lifting the empty gripper", "")
			}
</script>
