<p>Please contact us for further information about our innovative Virtual Research and Training Building (ViB) on cognition-enabled robotics and AI.</p>
<p>e-mail: <a href="mailto:ai-office@cs.uni-bremen.de">ai-office@cs.uni-bremen.de</a></p>
<br>
<div style="display: block;">
  <p>University of Bremen</br>Institute for Artificial Intelligence</br>Am Fallturm 1</br>28359 Bremen</br>Germany</p>
  <p>Tel.: +49 421 218 64000</br>Fax: +49 421 218 64047</p></br>
</div>
<div style="display: flex; flex-wrap: nowrap;">
  <div style="flex: 50%">
    <img src='{{"img/Logo - IAI Schrift.png" | absURL }}' style="width: 60%;">
  </div>
  <div style="flex: 50%">
    <img src='{{"img/UHB_Logo_Web_RGB.png" | absURL }}' style="width: 60%;">
  </div>
</div>

