<html>

	<body>

		<script>

	    // function to check if a tool is needed for the task (input: action verb, output: tool)
            async function get_needed_tool(verb) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const dulPrefix = "http://www.ontologydesignpatterns.org/ont/dul/DUL.owl#";
				const pourPrefix = "http://www.ease-crc.org/ont/pouring_food#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
				const oboPrefix = "http://purl.obolibrary.org/obo/";

				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX dul: <${dulPrefix}>
					PREFIX pour: <${pourPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					PREFIX obo: <${oboPrefix}>

					 SELECT ?res WHERE {
                        ${verb} rdfs:subClassOf ?sub.
                        ?sub owl:onProperty dul:hasParticipant.
                        ?sub owl:someValuesFrom ?neededtool.
                        BIND(REPLACE(STR(?neededtool), "^.*[#/]", "") AS ?res).
                    }
				`;


            	return query_text_pouring(sparqlQuery, '')
            }
			

	    // function to query the SPARQL endpoint
            async function query_text_pouring(query, alternative) {
            	// UniB SPARQL endpoint URL
                const endpointUrl = 'https://knowledgedb.informatik.uni-bremen.de/MealPreparation/query'
				console.log(query)
                const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: query,
                }

                try {
                    const response = await fetch(endpointUrl, requestOptions)
                    const data = await response.json()
					console.log(data)
					console.log(data.results.bindings[0].res.value)
					const firstObject = data.results.bindings[0].res.value;
                    return firstObject
                } catch (error) {
                    console.error('Error:', error)
                    return alternative
                }
            }

            
		// function to get the min angle needed for the task (input: food object, output: angle)
            async function get_minangle(food) {

                    const owlPrefix = "http://www.w3.org/2002/07/owl#";
					const pourPrefix = "http://www.ease-crc.org/ont/pouring_food#";
					const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
					const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
					const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
					const qudtPrefix = "http://qudt.org/schema/qudt#";
					const oboPrefix = "http://purl.obolibrary.org/obo/";


					const sparqlQuery = `
						PREFIX owl: <${owlPrefix}>
						PREFIX pour: <${pourPrefix}>
						PREFIX soma: <${somaPrefix}>
						PREFIX rdfs: <${rdfsPrefix}>
						PREFIX rdf: <${rdfPrefix}>
						PREFIX qudt: <${qudtPrefix}>
						PREFIX obo: <${oboPrefix}>

						SELECT ?res WHERE {
                        ${food} rdfs:subClassOf ?cons_node.
                        ?cons_node owl:onProperty pour:hasConsistency.
			?cons_node owl:someValuesFrom ?consistency.
                        ?union rdf:first*/rdf:rest* ?consistency.
 			 {
 			 ?rest rdf:first*/rdf:rest* ?union.
  			?start owl:unionOf ?rest.
 			 ?a owl:someValuesFrom ?start.
 			 }
 			 UNION
 			 {
 			   ?a owl:allValuesFrom ?union.
 			 }
 			 ?f rdf:first*/rdf:rest* ?a.
			  ?r rdf:first*/rdf:rest* ?f.
			  ?i owl:intersectionOf ?r.
			  ?inter owl:someValuesFrom ?i.
			  ?param rdfs:subClassOf ?inter.
			  ?param rdfs:subClassOf pour:PouringAngle.
			  ?param rdfs:subClassOf ?degree1.
			  ?degree1 owl:onProperty qudt:valueQuantity.
			  ?degree1 owl:minQualifiedCardinality ?res.
                    }
					`;

            	return query_text_pouring(sparqlQuery, '0')
            }


		// function to get the max angle needed for the task (input: food object, output: angle)
            async function get_maxangle(food) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const pourPrefix = "http://www.ease-crc.org/ont/pouring_food#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
				const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
				const qudtPrefix = "http://qudt.org/schema/qudt#";
				const oboPrefix = "http://purl.obolibrary.org/obo/";


				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX pour: <${pourPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					PREFIX rdf: <${rdfPrefix}>
					PREFIX qudt: <${qudtPrefix}>
					PREFIX obo: <${oboPrefix}>

					SELECT ?res WHERE {
                        ${food} rdfs:subClassOf ?cons_node.
                        ?cons_node owl:onProperty pour:hasConsistency.
			?cons_node owl:someValuesFrom ?consistency.
                        ?union rdf:first*/rdf:rest* ?consistency.
 			 {
 			 ?rest rdf:first*/rdf:rest* ?union.
  			?start owl:unionOf ?rest.
 			 ?a owl:someValuesFrom ?start.
 			 }
 			 UNION
 			 {
 			   ?a owl:allValuesFrom ?union.
 			 }
 			 ?f rdf:first*/rdf:rest* ?a.
			  ?r rdf:first*/rdf:rest* ?f.
			  ?i owl:intersectionOf ?r.
			  ?inter owl:someValuesFrom ?i.
			  ?param rdfs:subClassOf ?inter.
			  ?param rdfs:subClassOf pour:PouringAngle.
			  ?param rdfs:subClassOf ?degree1.
			  ?degree1 owl:onProperty qudt:valueQuantity.
			  ?degree1 owl:maxQualifiedCardinality ?res.
                    }
				`;

            	return query_text_pouring(sparqlQuery, '90')
            }

			// function to get the min duration needed for the task (input: food object, output: duration)
            async function get_minduration(food) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const pourPrefix = "http://www.ease-crc.org/ont/pouring_food#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
				const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
				const qudtPrefix = "http://qudt.org/schema/qudt#";

				const oboPrefix = "http://purl.obolibrary.org/obo/";


				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX pour: <${pourPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					PREFIX rdf: <${rdfPrefix}>
					PREFIX qudt: <${qudtPrefix}>
					PREFIX obo: <${oboPrefix}>

					SELECT ?res WHERE {
                        ${food} rdfs:subClassOf ?cons_node.
                        ?cons_node owl:onProperty pour:hasConsistency.
			?cons_node owl:someValuesFrom ?consistency.
                        ?union rdf:first*/rdf:rest* ?consistency.
 			 {
 			 ?rest rdf:first*/rdf:rest* ?union.
  			?start owl:unionOf ?rest.
 			 ?a owl:someValuesFrom ?start.
 			 }
 			 UNION
 			 {
 			   ?a owl:allValuesFrom ?union.
 			 }
 			 ?f rdf:first*/rdf:rest* ?a.
			  ?r rdf:first*/rdf:rest* ?f.
			  ?i owl:intersectionOf ?r.
			  ?inter owl:someValuesFrom ?i.
			  ?param rdfs:subClassOf ?inter.
			  ?param rdfs:subClassOf pour:PouringDuration.
			  ?param rdfs:subClassOf ?degree1.
			  ?degree1 owl:onProperty qudt:valueQuantity.
			  ?degree1 owl:minQualifiedCardinality ?res.
                    }
				`;

            	return query_text_pouring(sparqlQuery, '0')
            }

		// function to get the max duration needed for the task (input: food object, output: duration)
			// function to get the min duration needed for the task (input: food object, output: duration)
            async function get_maxduration(food) {
            	const owlPrefix = "http://www.w3.org/2002/07/owl#";
				const pourPrefix = "http://www.ease-crc.org/ont/pouring_food#";
				const somaPrefix = "http://www.ease-crc.org/ont/SOMA.owl#";
				const rdfsPrefix = "http://www.w3.org/2000/01/rdf-schema#";
				const rdfPrefix = "http://www.w3.org/1999/02/22-rdf-syntax-ns#";
				const qudtPrefix = "http://qudt.org/schema/qudt#";
				const oboPrefix = "http://purl.obolibrary.org/obo/";
				const cutPrefix = "http://www.ease-crc.org/ont/food_cutting#";


				const sparqlQuery = `
					PREFIX owl: <${owlPrefix}>
					PREFIX pour: <${pourPrefix}>
					PREFIX soma: <${somaPrefix}>
					PREFIX cut: <${cutPrefix}>
					PREFIX rdfs: <${rdfsPrefix}>
					PREFIX rdf: <${rdfPrefix}>
					PREFIX qudt: <${qudtPrefix}>
					PREFIX obo: <${oboPrefix}>

					 SELECT ?res WHERE {
                        ${food} rdfs:subClassOf ?cons_node.
                        ?cons_node owl:onProperty pour:hasConsistency.
			?cons_node owl:someValuesFrom ?consistency.
                        ?union rdf:first*/rdf:rest* ?consistency.
 			 {
 			 ?rest rdf:first*/rdf:rest* ?union.
  			?start owl:unionOf ?rest.
 			 ?a owl:someValuesFrom ?start.
 			 }
 			 UNION
 			 {
 			   ?a owl:allValuesFrom ?union.
 			 }
 			 ?f rdf:first*/rdf:rest* ?a.
			  ?r rdf:first*/rdf:rest* ?f.
			  ?i owl:intersectionOf ?r.
			  ?inter owl:someValuesFrom ?i.
			  ?param rdfs:subClassOf ?inter.
			  ?param rdfs:subClassOf pour:PouringDuration.
			  ?param rdfs:subClassOf ?degree1.
			  ?degree1 owl:onProperty qudt:valueQuantity.
			  ?degree1 owl:maxQualifiedCardinality ?res.
                    }
				`;

            	return query_text_pouring(sparqlQuery, '10')
            }

			
            function add_to_table_pouring(number, motion, inference) {
            	var motion_table = document.getElementById("pouring-motions");
            	var row = motion_table.insertRow(-1);
                var numb = row.insertCell(0);
                var mot = row.insertCell(1);
                var inf = row.insertCell(2);
              	numb.innerHTML = number + ".";
                mot.innerHTML = motion;
                inf.innerHTML = inference;
            }

            function clear_table_pouring() {
            	var motion_table = document.getElementById("pouring-motions");
            	var rowCount = motion_table.rows.length;
                for (var i = rowCount - 1; i >= 1; i--) {
                    motion_table.deleteRow(i);
                }
            }

			async function query_and_show_pouring() {
				var container = document.getElementById("pouring-results");
				var header = document.getElementById("pouring-header");

				var verbs = document.getElementById("pouring-verb-select");
				var foods = document.getElementById("pouring-food-select");
                var selected_verb = verbs.options[verbs.selectedIndex].textContent
                var selected_food = foods.options[foods.selectedIndex].textContent

				// changing the container visibility
				container.style.display = "block";

				// changing the header
				header.textContent = "Motions for " + selected_verb + " a / an " + selected_food + ":"

                // query the ontology
                var needed_tool = await get_needed_tool(verbs.value)
				var minangle = await get_minangle(foods.value)
				var maxangle = await get_maxangle(foods.value)
				var minduration = await get_minduration(foods.value)
				var maxduration = await get_maxduration(foods.value)
             //   var shape = await get_target(verbs.value)

                // create motion list from ontology query
                clear_table_pouring()
                curr_step = 1
                target = ''

				// Check if the required tool is a 'Shaker' and perform the relevant pouring steps
				if (needed_tool == 'Shaker') {
                	add_to_table_pouring(curr_step++, "Grasp the required tool for the task", "requires tool = true<br>needed tool = " + needed_tool)
					add_to_table_pouring(curr_step++, "Lift the required tool above the goal object", "requires tool = true<br>needed tool = " + needed_tool)
					add_to_table_pouring(curr_step++, "Use the required tool to pour the food object at the angle ...", "food object = " + selected_food + "<br>min angle = " + minangle + "<br>max angle = " + maxangle)
					add_to_table_pouring(curr_step++, "Pouring the food object for the duration ...", "food object = " + selected_food + "<br>min duration = " + minduration + "<br>max duration = " + maxduration)
					add_to_table_pouring(curr_step++, "Placing the required tool ", "requires tool = true<br>needed tool = " + needed_tool)

                }
                // Check if the required tool is a 'Sieve' and perform the relevant pouring steps
                if (needed_tool == 'Sieve') {
                	add_to_table_pouring(curr_step++, "Pick up the required tool for the task", "requires tool = true<br>needed tool = " + needed_tool)
					add_to_table_pouring(curr_step++, "Grasp the container which contains the food product", "food object = " + selected_food)
					add_to_table_pouring(curr_step++, "Lift the container which contains the food product above the sieve", "food object = " + selected_food + "<br>requires tool = true<br>needed tool = " + needed_tool)
					add_to_table_pouring(curr_step++, "Pouring the food object through the sieve at the angle ...", "requires tool = true<br>needed tool = " + needed_tool +"<br>food object = " + selected_food + "<br>min angle = " + minangle + "<br>max angle = " + maxangle)
	                add_to_table_pouring(curr_step++, "Pouring the food object for the duration ...", "food object = " + selected_food + "<br>min duration = " + minduration + "<br>max duration = " + maxduration)
					add_to_table_pouring(curr_step++, "Placing the required tool and container", "requires tool = true<br>needed tool = " + needed_tool)


				}

                // If no tool is required, perform the pouring steps directly with the container
				if (needed_tool == '') {
					add_to_table_pouring(curr_step++, "Grasp the container which contains the food product " , "food object = " + selected_food)
					add_to_table_pouring(curr_step++, "Lift the container which contains the food product above the goal object", "food object = " + selected_food)
					add_to_table_pouring(curr_step++, "Pouring the food object at the angle ...", "food object = " + selected_food + "<br>min angle = " + minangle + "<br>max angle = " + maxangle)
	                add_to_table_pouring(curr_step++, "Pouring the food object for the duration ...", "food object = " + selected_food + "<br>min duration = " + minduration + "<br>max duration = " + maxduration)
					add_to_table_pouring(curr_step++, "Placing the container", "")

				}
				}
		</script>

		Show me the plan for the following<br> <label for="pouring-food-select"><b>task</b>: </label>
		<select name="pouring-verbs" id="pouring-verb-select">
			<option value="pour:Pouring">Pour</option>
			<option value="pour:Draining">Drain</option>
			<option value="pour:Sprinkling">Sprinkle</option>
		</select>

		<label for="pouring-food-select"> the following food <b>a / an</b> </label>
		<select name="pouring-foods" id="pouring-food-select">
			<option value="obo:FOODON_03301304">batter</option>
			<option value="obo:FOODON_03420170">broth</option>
			<option value="obo:FOODON_03307240">chocolate</option>
			<option value="obo:FOODON_03301036">coffee</option>
			<option value="pour:cream">cream</option>
			<option value="obo:FOODON_03316061">egg</option>
			<option value="obo:FOODON_03302339">flour</option>
			<option value="obo:FOODON_03315552">juice</option>
			<option value="pour:Liquids">liquids</option>
			<option value="obo:UBERON_0001913">milk</option>
			<option value="obo:FOODON_03310387">oil</option>
			<option value="obo:FOODON_03311146">sauce</option>
			<option value="obo:FOODON_03301073">sugar</option>
			<option value="obo:FOODON_03303225">syrup</option>
			<option value="obo:FOODON_03315081">tea</option>
			<option value="obo:FOODON_03301705">vinegar</option>
			<option value="obo:ENVO_00003064">water</option>
			<option value="obo:FOODON_03301338">wine</option>
		</select>

		<button type="button" onclick="query_and_show_pouring()">Query</button> </font>

		<div id="pouring-results" style='display: none'>
			<p id="pouring-header"></p>
			<table id="pouring-motions">
            <tr>
              <th>#</th>
              <th>Motions</th>
              <th>Inference</th>
            </tr>
          </table>
		</div>
	</body>


</html>
